@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">

    <h2 style="color: navy;">Estacionamento WSA</h2>

</div>

<div class="row">

    <h2 style="text-align: center; ">Cadastro de Clientes</h2>

    <br />

    <table width="100%">

        <tr>

            <td width="50%">
                
                <h3 style="text-align: center; ">

                    <a class="btnInicial btn" style="vertical-align: middle; font-size: 25px; padding: 20px;" href="@Url.Action("Index", "PessoaFisica")" > 
                        Pessoa Física </a>
                </h3>
            </td>

            <td width="50%">
               
                <h3 style="text-align: center;">

                    <a class="btnInicial btn" style="vertical-align: middle; font-size: 25px; padding: 20px;" href="@Url.Action("Index", "PessoaJuridica")">
                        Pessoa Jurídica
                    </a>
                </h3>
            </td>

        </tr>

    </table>
</div>

<br />
<br />
<br />
<br />
<br />
<br />